{
    "azureSubscriptionKey": "---",
    "mapBoxSubscriptionKey": "---",
    "API": "Azure|MapBox",
    "distances": [500,1000,1600],
    "metro": [
        "../web/data/roma/linea-c.json"
    ],
    "do-not-generate-these": [
        "../web/data/roma/linea-a.json",
        "../web/data/roma/linea-b.json"
    ],
    "buildStations": true,
    "stations": "../web/data/roma/stations" 
}